@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* 레이아웃 */
#header {
  background: url(../img/header_bg.jpg) repeat-x center top;
}
#nav {
  background-color: #f6fdff;
}

/* 컨테이너 */
.container {
  width: 1200px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.3); */
}

/* 헤더 */
.header {
  height: 327px;
}

/* 헤더 메뉴 */
.header .header_menu {
  text-align: right;
}
.header .header_menu a {
  color: #fff;
  padding: 8px 0 6px 10px;
  display: inline-block;
  transition: color 0.3s ease;
  font-family: 'Abel', sans-serif;
}
.header .header_menu a:hover {
  color: #ccc;
}

/* 헤더 타이틀 */
.header .header_tit {
  text-align: center;
  text-transform: uppercase;
  margin-top: 55px;
  font-family: 'Abel', sans-serif;
}
.header .header_tit h1 {
  font-size: 30px;
  color: #fff;
  background: #51b0dc;
  display: inline-block;
  padding: 5px 30px 5px 30px;
  letter-spacing: 2px;
  font-weight: 900;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit h1:hover {
  box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
}
.header .header_tit a {
  font-size: 16px;
  color: #fff;
  background: #4a9abf;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-top: -7px;
  transition: box-shadow 0.25s ease-in-out;
}
.header .header_tit a:hover {
  box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* 헤더 아이콘 */

.header .header_icon {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 45px;
}
.header .header_icon li {
  display: inline;
  margin: 0 2px;
}
.header .header_icon li a {
  position: relative;
  background-color: #3192bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  line-height: 60px;
  transition: all 0.3s ease;
}
.header .header_icon li a span {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.6;
  background: #3192bf;
  padding: 3px 9px;
  border-radius: 6px 0;
  opacity: 0;
  transition: all 0.3s ease;
}
/* 도움말의 뾰족한 삼각형 부분 */
.header .header_icon li a span:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid #3192bf;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
/* 도움말 영역 -33px 만큼 위로 올리기 */
.header .header_icon li a:hover span {
  opacity: 1;
  top: -33px;
}
/* 아이콘 box-shadow로 경계선 그려주기 */
.header .header_icon li a:hover {
  box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* 전체 메뉴 */
.nav {
  overflow: hidden;
  padding: 25px 0;
}
.nav > div {
  float: left;
  width: 40%;
}
.nav > div:last-child {
  width: 20%;
}
.nav > div ol {
  overflow: hidden;
}
.nav > div li {
  float: left;
  width: 50%;
  position: relative;
  padding-left: 8px;
  box-sizing: border-box;
}
.nav > div:last-child li {
  width: 100%;
}
/* 리스트 앞의 동그란 점 모양 그려줌 */
.nav > div li:before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #25a2d0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
}
.nav > div h3 {
  font-size: 18px;
  color: #25a2d0;
  font-weight: bold;
  margin-bottom: 4px;
}

/* media query */
/* 오차가 있기 때문에 가로 너비 1200 에 20 정도 더해서 넣어줌 */
@media (max-width: 1220px) {
  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }
}
